{% extends "layouts/auth.twig" %}

{% block title %}Change Password{% endblock %}

{% block content %}
	<form action="{{route('change.password')}}" name="register" method="post">
		{{ csrf.field | raw }}
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-6">
				<div class="card px-5 py-5">
					<h5 class="mt-3">Change Password</h5>
					<div class="form-input{{ errors.old_password ? ' has-error' : '' }}">
						<i class="fa fa-lock"></i> <input type="password" name="old_password" class="form-control" placeholder="Enter old password">
						{% if errors.old_password %}
							<span class="hel-block">{{ errors.old_password | first }}</span>
						{% endif %}
					</div>
					<div class="form-input{{ errors.new_password ? ' has-error' : '' }}">
						<i class="fa fa-lock"></i> <input type="password" name="new_password" class="form-control" placeholder="Enter new password">
						{% if errors.new_password %}
							<span class="hel-block">{{ errors.new_password | first }}</span>
						{% endif %}
					</div>
					<button type="submit" class="btn btn-primary mt-4 signup">Change Password</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

